{% extends 'base.html' %}

{% block content %}

<br/><br/>
<br/><br/>
<br/><br/>
<div class="center-div">
	<h3>Hey, {{ name }}!<br/>What Do You Wanna Do?</h3>
	<br/>
	<div class="btn-group-vertical">
		<a class="btn btn-outline-danger" href="{{ url_for('post') }}" style="width:100%;padding-left:1.5rem;padding-right:1.5rem;">Post</a>
		<a class="btn btn-outline-danger" href="{{ url_for('posts') }}" style="width:100%;padding-left:1.5rem;padding-right:1.5rem;">See Posts</a>
		<a class="btn btn-outline-danger" style="width:100%;padding-left:1.5rem;padding-right:1.5rem;">About Our Project</a>
		<a class="btn btn-danger" href="{{ url_for('logout') }}">Logout</a>
	</div>
</div>

{% endblock %}